
{% extends 'base.html.twig' %}

{% block header %}
    <h2>Formulaire d'ajout d'un livre</h2>
    {{ form(mon_formulaire_ajout_livre) }}
    <a href="{{ path('marquepage_index') }}">Retour à la liste</a>
{% endblock %}