
{% extends 'base.html.twig' %}

{% block header %}
    <h2>Formulaire d'ajout d'un livre</h2>
    {{ form(mon_formulaire_ajout_livre) }}
    <button><a href="{{ path('liste_livre') }}">Retour à la liste des livres</a></button>
{% endblock %}