
{% extends 'base.html.twig' %}

{% block header %}
    <h2>Formulaire de modification d'un Livre</h2>
    {{ form(mon_formulaire_modification_livre) }}
    <button><a href="{{ path('liste_livre') }}">Retour à la liste des livres</a></button>
{% endblock %}