{% extends 'base.html.twig' %}

{% block title %}Nombre de Livres{% endblock %}

{% block header %}
<h1>Nombre Total de Livres</h1>
<p>Il y a actuellement <strong>{{ nombreLivres }}</strong> livres disponibles.</p>

<button><a href="{{ path('liste_livre') }}">Retour à la liste des livres</a></button>
{% endblock %}
