
{% extends 'base.html.twig' %}

{% block title %}Nombre total de livres{% endblock %}

{% block header %}
    <h1>Nombre total de livres</h1>
    <p>Il y a {{ nombreLivres }} livres.</p>
    <a href="{{ path('liste_livre') }}">Retour à la liste des livres</a>
{% endblock %}
