
{% extends 'base.html.twig' %}

{% block header %}
    <h2>Auteur enregistré avec succés !!</h2>
    <button><a href="{{ path('marquepage_index') }}">Retour à la liste des marques pages</a><button>
{% endblock %}