
{% extends 'base.html.twig' %}

{% block header %}
    <h2>Formulaire d'ajout d'un Auteur</h2>
    {{ form(mon_formulaire_ajout_auteur) }}
    <button><a href="{{ path('marquepage_index') }}">Retour à la liste des marques pages</a></button>
{% endblock %}