
{% extends 'base.html.twig' %}

{% block header %}
    <h2>Employé enregistré avec succés !!</h2>
    <button><a href="{{ path('employe_index') }}">Retour à la liste des employés</a><button>
{% endblock %}